h1{
    font-family: 'Virginia Tech Nameplate', sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    position: relative;
    margin: 0;
    padding: 8px 0 14px 0;
    color: #630031;
}

body{
    margin: 0 auto;
    width: 960px;
    text-align: center;
}
.container {
    margin: 0 auto;
    width: 600px;
}
.push {
    height: 50px;
}
footer {
    width: 100%;
    margin: auto;
    bottom: 0;
    text-align: center;
    
}

.game-box{
    float: left;
    border: 2px solid;
    border-color: red;
    width: 49%;
    height: 500px;
}